.modalOverlay {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.modalOverlay_active {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
