.ingredientsList {
  height: 83vh;
  overflow-y: auto;
  max-height: 716px;
  scrollbar-color: #8585AD #2F2F37;
  scrollbar-width: thin;
}

.ingredientsList::-webkit-scrollbar {
  width: 8px;
}

.ingredientsList::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.ingredientsList::-webkit-scrollbar-track {
  background: #2F2F37;
}